.dark-theme {
    --main-heading: #5f99be;
    --para-clr: #fff;
    --btn-bg-color: #5f99be;
    --btn-text-color: #fff;
    --bg-clr: #111b20;
  }
  .light-theme {
    --main-heading: #5f99be;
    --para-clr: #333;
    --btn-bg-color: #111b20;
    --btn-text-color: #fff;
    --bg-clr: #fff;
  }
  h1{
    font-size: 3rem;
    color: var(--main-heading);
  }
  p{
    font-size: 1.2rem;
    color: var(--para-clr);
  }
  a{
    cursor: pointer;
    text-decoration: none;
  }
  a,
  li{
    font-size: 1.8rem;
    color: var(--btn-bg-color);
  }
  .btn{
    /* padding: 1.6rem 3.2rem; */
    background-color: var(--btn-bg-color);
    color: var(--btn-text-color);
  }
  section{
    max-width: 100%;
    background-color: var(--bg-clr);
  }
  .container{
    max-width: 140rem;
    margin: 0 auto;
  }
  .grid{
    display: grid;
    gap: 9rem;
  }
  .grid-two-column{
    grid-template-columns: 1fr 1fr;
  }
header{
    height: 9rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--bg-clr);
}
header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
header nav li {
    list-style: none;
}
.hero-section-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.hero-section-data p {
    margin: 2rem 0;
}
.hero-section-image{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.hero.hero-section-image img {
    max-height: 60%;
}