*{
    box-sizing: border-box;
    font-family: sans-serif;
}
.head{
    display: flex;
    border-bottom: 1px solid rgb(201, 201, 201);
}
.head >li{
    min-width: 100px;
    list-style-type: none;
}